# La bibliothèque Pandas

## Lire un fichier CSV avec pandas

- Importer la librairie pandas.
- Utiliser la fonction pandas.read_csv() pour lire le fichier "food_info.csv" (téléchargeable dans les ressources de cette vidéo) dans un dataframe qu'on nomme food_info.
- Utiliser les fonctions type() et print() pour afficher le type de food_info et confirmer qu'il s'agit d'un objet dataframe.

In [2]:
import pandas as pd

food_info = pd.read_csv("food_info.csv")
print(type(food_info))

<class 'pandas.core.frame.DataFrame'>

In [14]:
food_info.shape

(8618, 36)

## Sélectionner une ligne

- Assigner la 100e ligne du dataframe food_info à la variable row_100.
- Afficher le résultat.

In [2]:
row_100 = food_info.loc[99]
print(row_100)

NDB_No                                  1111
Shrt_Desc          MILK SHAKES THICK VANILLA
Water_(g)                              74.45
Energ_Kcal                               112
Protein_(g)                             3.86
Lipid_Tot_(g)                           3.03
Ash_(g)                                 0.91
Carbohydrt_(g)                         17.75
Fiber_TD_(g)                               0
Sugar_Tot_(g)                          17.75
Calcium_(mg)                             146
Iron_(mg)                                0.1
Magnesium_(mg)                            12
Phosphorus_(mg)                          115
Potassium_(mg)                           183
Sodium_(mg)                               95
Zinc_(mg)                               0.39
Copper_(mg)                            0.051
Manganese_(mg)                         0.014
Selenium_(mcg)                           2.3
Vit_C_(mg)                                 0
Thiamin_(mg)                            0.03
Riboflavin_(mg)                        0.195
Niacin_(mg)                            0.146
Vit_B6_(mg)                            0.042
Vit_B12_(mcg)                           0.52
Vit_A_IU                                  91
Vit_A_RAE                                 25
Vit_E_(mg)                              0.05
Vit_D_mcg                                1.2
Vit_D_IU                                  48
Vit_K_(mcg)                              0.2
FA_Sat_(g)                             1.886
FA_Mono_(g)                            0.875
FA_Poly_(g)                            0.113
Cholestrl_(mg)                            12
Name: 99, dtype: object

## Sélectionner plusieurs lignes

- Sélectionner les 5 dernières lignes de food_info et assigner le résultat à la variable last_rows.

In [19]:
food_info.tail()
# print(num_rows)

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

In [20]:
food_info.loc[3:9]

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
3,1004,CHEESE BLUE,42.41,353,21.40,28.74,5.11,2.34,0.0,0.50,...,721.0,198.0,0.25,0.5,21.0,2.4,18.669,7.778,0.800,75.0
4,1005,CHEESE BRICK,41.11,371,23.24,29.68,3.18,2.79,0.0,0.51,...,1080.0,292.0,0.26,0.5,22.0,2.5,18.764,8.598,0.784,94.0
5,1006,CHEESE BRIE,48.42,334,20.75,27.68,2.70,0.45,0.0,0.45,...,592.0,174.0,0.24,0.5,20.0,2.3,17.410,8.013,0.826,100.0
6,1007,CHEESE CAMEMBERT,51.80,300,19.80,24.26,3.68,0.46,0.0,0.46,...,820.0,241.0,0.21,0.4,18.0,2.0,15.259,7.023,0.724,72.0
7,1008,CHEESE CARAWAY,39.28,376,25.18,29.20,3.28,3.06,0.0,NaN,...,1054.0,271.0,NaN,NaN,NaN,NaN,18.584,8.275,0.830,93.0
8,1009,CHEESE CHEDDAR,37.10,406,24.04,33.82,3.71,1.33,0.0,0.28,...,994.0,263.0,0.78,0.6,24.0,2.9,19.368,8.428,1.433,102.0
9,1010,CHEESE CHESHIRE,37.65,387,23.37,30.60,3.60,4.78,0.0,NaN,...,985.0,233.0,NaN,NaN,NaN,NaN,19.475,8.671,0.870,103.0

In [4]:
num_rows = food_info.shape[0]



last_rows = food_info.loc[num_rows - 5:num_rows - 1]
last_rows

,NDB_No,Shrt_Desc,Water_(g),Energ_Kcal,Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),...,Vit_A_IU,Vit_A_RAE,Vit_E_(mg),Vit_D_mcg,Vit_D_IU,Vit_K_(mcg),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g),Cholestrl_(mg)
8613,83110,MACKEREL SALTED,43.00,305,18.50,25.10,13.40,0.00,0.0,0.0,...,157.0,47.0,2.38,25.2,1006.0,7.8,7.148,8.320,6.210,95.0
8614,90240,SCALLOP (BAY&SEA) CKD STMD,70.25,111,20.54,0.84,2.97,5.41,0.0,0.0,...,5.0,2.0,0.00,0.0,2.0,0.0,0.218,0.082,0.222,41.0
8615,90480,SYRUP CANE,26.00,269,0.00,0.00,0.86,73.14,0.0,73.2,...,0.0,0.0,0.00,0.0,0.0,0.0,0.000,0.000,0.000,0.0
8616,90560,SNAIL RAW,79.20,90,16.10,1.40,1.30,2.00,0.0,0.0,...,100.0,30.0,5.00,0.0,0.0,0.1,0.361,0.259,0.252,50.0
8617,93600,TURTLE GREEN RAW,78.50,89,19.80,0.50,1.20,0.00,0.0,0.0,...,100.0,30.0,0.50,0.0,0.0,0.1,0.127,0.088,0.170,50.0

## Sélectionner une colonne plutôt qu'une ligne

- Assigner la colonne "protein_(g)" à la variable protein.
- Assigner la colonne "Cholestrl_(mg)" à la variable cholesterol.
- Afficher les résultats.

In [5]:
protein = food_info["Protein_(g)"]
cholesterol = food_info["Cholestrl_(mg)"]

In [21]:
food_info["Protein_(g)"]

0        0.85
1        0.85
2        0.28
3       21.40
4       23.24
        ...
8613    18.50
8614    20.54
8615     0.00
8616    16.10
8617    19.80
Name: Protein_(g), Length: 8618, dtype: float64

In [6]:
print(protein)

0        0.85
1        0.85
2        0.28
3       21.40
4       23.24
5       20.75
6       19.80
7       25.18
8       24.04
9       23.37
10      23.76
11      11.12
12      10.69
13      10.34
14      10.45
15      12.39
16       5.93
17      24.99
18      14.21
19      25.60
20       9.65
21      24.94
22      29.81
23      20.05
24      24.48
25      22.17
26      21.60
27      24.26
28      24.58
29      23.41
        ...
8588     6.60
8589     1.00
8590     0.30
8591     8.70
8592     7.12
8593    12.60
8594     0.50
8595    28.40
8596     4.40
8597    27.50
8598     0.00
8599     0.00
8600     0.00
8601     4.08
8602    11.30
8603     5.30
8604     0.00
8605     0.30
8606     0.41
8607     0.08
8608    10.08
8609     1.60
8610     0.81
8611    75.16
8612    16.40
8613    18.50
8614    20.54
8615     0.00
8616    16.10
8617    19.80
Name: Protein_(g), Length: 8618, dtype: float64

In [7]:
print(cholesterol)

0       215.0
1       219.0
2       256.0
3        75.0
4        94.0
5       100.0
6        72.0
7        93.0
8       102.0
9       103.0
10       95.0
11       17.0
12       13.0
13        7.0
14       12.0
15        4.0
16      110.0
17       89.0
18       89.0
19      116.0
20       94.0
21      114.0
22      110.0
23       90.0
24       89.0
25       79.0
26       89.0
27       64.0
28       65.0
29       96.0
        ...
8588      0.0
8589      0.0
8590      0.0
8591      0.0
8592      0.0
8593      0.0
8594      0.0
8595     35.0
8596      0.0
8597     54.0
8598      0.0
8599      0.0
8600      0.0
8601      6.0
8602      0.0
8603      0.0
8604      0.0
8605      0.0
8606      0.0
8607      0.0
8608      0.0
8609      0.0
8610      0.0
8611      0.0
8612     50.0
8613     95.0
8614     41.0
8615      0.0
8616     50.0
8617     50.0
Name: Cholestrl_(mg), Length: 8618, dtype: float64

## Sélectionner plusieurs colonnes

- Sélectionner les colonnes 'Shrt__Desc', 'Selenium_(mcg)' et 'Thiamin_(mg)' et assigner le dataframe résultant à la variable selenium_thiamin.
- Afficher le résultat.

In [8]:
selenium_thiamin = food_info[['Shrt_Desc', 'Selenium_(mcg)', 'Thiamin_(mg)']]
print(selenium_thiamin)

                                              Shrt_Desc  Selenium_(mcg)  \
0                                      BUTTER WITH SALT             1.0
1                              BUTTER WHIPPED WITH SALT             1.0
2                                  BUTTER OIL ANHYDROUS             0.0
3                                           CHEESE BLUE            14.5
4                                          CHEESE BRICK            14.5
5                                           CHEESE BRIE            14.5
6                                      CHEESE CAMEMBERT            14.5
7                                        CHEESE CARAWAY            14.5
8                                        CHEESE CHEDDAR            28.3
9                                       CHEESE CHESHIRE            14.5
10                                         CHEESE COLBY            14.5
11                  CHEESE COTTAGE CRMD LRG OR SML CURD             9.7
12                          CHEESE COTTAGE CRMD W/FRUIT             7.7
13     CHEESE COTTAGE NONFAT UNCRMD DRY LRG OR SML CURD             9.4
14                     CHEESE COTTAGE LOWFAT 2% MILKFAT            11.9
15                     CHEESE COTTAGE LOWFAT 1% MILKFAT             9.0
16                                         CHEESE CREAM             2.4
17                                          CHEESE EDAM            14.5
18                                          CHEESE FETA            15.0
19                                       CHEESE FONTINA            14.5
20                                       CHEESE GJETOST            14.5
21                                         CHEESE GOUDA            14.5
22                                       CHEESE GRUYERE            14.5
23                                     CHEESE LIMBURGER            14.5
24                                      CHEESE MONTEREY            14.5
25                           CHEESE MOZZARELLA WHL MILK            17.0
26                  CHEESE MOZZARELLA WHL MILK LO MOIST            16.1
27                     CHEESE MOZZARELLA PART SKIM MILK            14.4
28                 CHEESE MOZZARELLA LO MOIST PART-SKIM            26.8
29                                      CHEESE MUENSTER            14.5
...                                                 ...             ...
8588         BABYFOOD CRL RICE W/ PEARS & APPL DRY INST            16.3
8589                     BABYFOOD BANANA NO TAPIOCA STR             1.1
8590                     BABYFOOD BANANA APPL DSSRT STR             0.6
8591       SNACKS TORTILLA CHIPS LT (BAKED W/ LESS OIL)            15.7
8592  CEREALS RTE POST HONEY BUNCHES OF OATS HONEY RSTD             7.3
8593                         POPCORN MICROWAVE LOFAT&NA             8.6
8594                       BABYFOOD FRUIT SUPREME DSSRT             0.4
8595                               CHEESE SWISS LOW FAT            12.7
8596             BREAKFAST BAR CORN FLAKE CRUST W/FRUIT            15.0
8597                            CHEESE MOZZARELLA LO NA            15.7
8598                           MAYONNAISE DRSNG NO CHOL             1.6
8599                          OIL CORN PEANUT AND OLIVE             0.0
8600                   SWEETENERS TABLETOP FRUCTOSE LIQ             0.5
8601                              CHEESE FOOD IMITATION             2.9
8602                                CELERY FLAKES DRIED            15.3
8603           PUDDINGS CHOC FLAVOR LO CAL INST DRY MIX             3.9
8604                    BABYFOOD GRAPE JUC NO SUGAR CND             NaN
8605                   JELLIES RED SUGAR HOME PRESERVED             1.4
8606                         PIE FILLINGS BLUEBERRY CND             0.4
8607               COCKTAIL MIX NON-ALCOHOLIC CONCD FRZ             0.5
8608            PUDDINGS CHOC FLAVOR LO CAL REG DRY MIX             5.1
8609  PUDDINGS ALL FLAVORS XCPT CHOC LO CAL REG DRY MIX             0.9
8610  PUDDINGS ALL FLAVORS XCPT CHOC LO CAL INST DRY...             0.8
8611                                 VITAL WHEAT GLUTEN            39.7
8612                                      FROG LEGS RAW            14.1
8613                                    MACKEREL SALTED            73.4
8614                         SCALLOP (BAY&SEA) CKD STMD            21.7
8615                                         SYRUP CANE             0.7
8616                                          SNAIL RAW            27.4
8617                                   TURTLE GREEN RAW            16.8

      Thiamin_(mg)
0            0.005
1            0.005
2            0.001
3            0.029
4            0.014
5            0.070
6            0.028
7            0.031
8            0.027
9            0.046
10           0.015
11           0.027
12           0.033
13           0.023
14           0.020
15           0.021
16           0.020
17           0.037
18           0.154
19           0.021
20           0.315
21           0.030
22           0.060
23           0.080
24           0.015
25           0.030
26           0.016
27           0.018
28           0.059
29           0.013
...            ...
8588         1.600
8589         0.020
8590         0.020
8591         0.220
8592         1.300
8593         0.350
8594         0.010
8595         0.020
8596         1.000
8597         0.020
8598         0.010
8599         0.000
8600         0.000
8601         0.000
8602         0.440
8603         0.020
8604         0.010
8605         0.010
8606         0.023
8607         0.009
8608         0.025
8609         0.000
8610         0.005
8611         0.000
8612         0.140
8613         0.020
8614         0.012
8615         0.130
8616         0.010
8617         0.120

[8618 rows x 3 columns]

## Cas pratique

- Sélectionner et afficher seulement les colonnes qui utilisent comme unité de mesure les grammes (c'est à dire qui se terminent par "(g)"). Pour cela:
>- Utiliser l'attribut columns pour retourner le nom des colonnes du dataframe food_info et convertir en liste utilisant la méthode tolist()
>- Créer une nouvelle liste qu'on nommera gram__columns, contenant seulement les colonnes se terminant par "(g)". Indice: la méthode endswith() retourne True si l'objet sur lequel on l'applique se termine par l'élément entre parenthèses. ex: total_(g).endswith("(g)") retourne True. Une boucle for est fortement conseillé pour parcourir tous les noms de colonne.
>- Sélectionner les colonnes de gram_columns pour le dataframe food_info et assigner le dataframe résultat à la variable gram_df
>- Afficher les 3 premières valeurs de ce dataframe gram_df

In [9]:
col_names = food_info.columns.tolist()
gram_columns = []

for c in col_names:
    if c.endswith("(g)"):
        gram_columns.append(c)
        
gram_df = food_info[gram_columns]

gram_df.head(3)

,Water_(g),Protein_(g),Lipid_Tot_(g),Ash_(g),Carbohydrt_(g),Fiber_TD_(g),Sugar_Tot_(g),FA_Sat_(g),FA_Mono_(g),FA_Poly_(g)
0,15.87,0.85,81.11,2.11,0.06,0.0,0.06,51.368,21.021,3.043
1,15.87,0.85,81.11,2.11,0.06,0.0,0.06,50.489,23.426,3.012
2,0.24,0.28,99.48,0.00,0.00,0.0,0.00,61.924,28.732,3.694